{% extends 'base.html' %}

{% block title %}Let's go!{% endblock %}

{% block content %}
    
<head>
    <!-- <link rel="stylesheet" href="static/css/index.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="static/js/index.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->
</head>
<body>
    <div id="search-container">
        <input type="text" id="hospital-search" placeholder="search hospitals">
        <ul id="hospitals-list" input type="checkbox"></ul>
        <input type="text" id="service-search" placeholder="search services">
        <ul id="services-list"></ul>
    </div>
</body>
{% endblock %}
